.container-list-item {
  color: white;

  mat-label {
    position: relative;
    bottom: 8px;
    margin-right: 15px;
  }
}

.children {
  margin-left: 30px;
  margin-top: -10px;
}

.parent {
  margin-bottom: -20px;
}